*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.nav {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(41, 53, 86) 100%);
  transition: 0.3s;
}
.nav__box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.nav__box a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
  letter-spacing: 1px;
  padding: 1.5em;
}
.nav__box a:hover {
  color: #9cffff;
}
.nav__box .logo {
  display: none;
}

.nav--active {
  transform: translateY(0);
}

header {
  height: 100vh;
}

.burger {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 60px;
  width: 60px;
  z-index: 999999999;
  cursor: pointer;
}
.burger__bars {
  position: relative;
  top: 7px;
  height: 7px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}
.burger__bars::after {
  position: absolute;
  content: "";
  height: 7px;
  width: 70%;
  background-color: white;
  border-radius: 8px;
  top: 20px;
  right: 0;
  transition: 0.3s;
}
.burger__bars::before {
  position: absolute;
  content: "";
  height: 7px;
  width: 35%;
  background-color: white;
  border-radius: 8px;
  top: 40px;
  right: 0;
  transition: 0.3s;
  transition-delay: 0.1s;
}

.burger:hover .burger__bars::after,
.burger:hover .burger__bars::before {
  width: 100%;
}

.heading {
  background-image: url("../img/heading.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.heading__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.heading__title {
  padding: 1em;
  color: #fff;
  font-size: 3rem;
}
.heading__title span {
  color: #9cffff;
}
.heading__text {
  color: #fff;
  padding: 0.3em 1em 0.3em 1em;
}
.heading__btn {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 20px;
  text-decoration: none;
  padding: 0.5em 1.4em 0.5em 1.4em;
  border: 1px solid #9cffff;
  letter-spacing: 0.5px;
  transition: 0.3s;
  border-radius: 16px;
}
.heading__btn:hover {
  color: #9cffff;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  cursor: pointer;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows path.a1 {
  animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  stroke-width: 2px;
}

.arrows path.a3 {
  animation-delay: 0s;
  stroke-width: 3px;
}

@media (min-width: 768px) {
  .nav {
    transform: translateY(0);
    height: 8vh;
  }
  .nav__box {
    height: 8vh;
    flex-direction: row;
  }
  .nav__box a {
    font-size: 2rem;
  }
  .nav__box :nth-child(5) {
    border: 1px solid #9cffff;
    padding: 0.8em 1em 0.8em 1em;
    border-radius: 16px;
  }
  .nav .logo {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: "Dancing Script";
  }
  .nav .logo a {
    font-size: 3rem;
    padding: 0.5em;
    transition: 0.3s;
  }
  .nav .logo a span {
    color: #9cffff;
    font-size: 4rem;
  }
  .nav .logo a:hover {
    color: #9cffff;
  }
  .burger {
    display: none;
  }
  .heading__title {
    font-size: 4rem;
    margin-top: 200px;
  }
  .heading__text {
    font-size: 2.2rem;
  }
  .heading__btn {
    margin-top: 100px;
    font-size: 3rem;
    border: 2px solid #9cffff;
    padding: 1em 2.2em 1em 2.2em;
  }
}
@media (min-width: 992px) {
  .nav__box a {
    font-size: 2.5rem;
  }
  .heading__title {
    font-size: 4.8rem;
    margin-top: 200px;
  }
  .heading__text {
    font-size: 2.6rem;
    padding: 0.5em 2em 0.5em 2em;
  }
}/*# sourceMappingURL=style.css.map */